<appSettings>
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->

  <add key="Environment" value="dev" />
  <!--<add key="audId" value="a0fde9b9e25d4074a3b98a12156116d3"/>
  <add key="Iss" value="http://10.92.184.13:23000"/>-->
  <add key="audId" value="f1c30f3289614198a4a0626dae0725f4"/>
  <add key="Iss" value="http://localhost:23218"/>
  <add key="Sec" value="OszBxGmK3zQUDbesjPa3cHPuZs2eB24QCF8f_Rmtyc4"/>

  <add key="resourceServerUrl" value="http://localhost:8128/api"/>
</appSettings>