<appSettings>
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->

  <!-- Mis parámetros -->
  <add key="Environment" value="dev" />
  <add key="audId" value="4b6d1934c9cf4f58ae935b5f01571645"/>
  <add key="Iss" value="http://localhost:23218/"/>
  <!-- Mis parámetros -->
</appSettings>