<appSettings>
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->

  <!-- Mis parámetros -->
  <add key="Environment" value="dev" />
  <add key="audId" value="ca8051b986b144bab4b85c76ae68e079"/>
  <add key="Iss" value="http://localhost:23218"/>
  <add key="Sec" value="iRF5dg9o-JVleuYZYNDiSKkOAHY2W2xl0ubUuE1oZDY"/>
  <!--<add key="audId" value="ffc12192949841cab53017331cc9a6d3"/>
  <add key="Iss" value="http://localhost/SecuredGateAuthenticacionServer/"/>
  <add key="Sec" value="JjvV9zrwRTfKZWeVjQ7O-BbnJTcpuomA2Iky0BuMZis"/>-->
  <!-- Mis parámetros -->
</appSettings>