<connectionStrings>
  <!--<add name="AppContext" connectionString="data source=.;initial catalog=SecureGate;persist security info=True;user id=sa;password=Nissan2015;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <add name="AppContext" connectionString="data source=10.92.184.22;initial catalog=SecureGate;persist security info=True;user id=sa;password=Nissan2015;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>