<appSettings>
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->

  <!-- Mis parámetros -->
  <add key="Environment" value="dev" />
  <add key="audId" value="f1c30f3289614198a4a0626dae0725f4"/>
  <add key="Iss" value="http://localhost:23218"/>
  <add key="Sec" value="OszBxGmK3zQUDbesjPa3cHPuZs2eB24QCF8f_Rmtyc4"/>
  <!--<add key="audId" value="ffc12192949841cab53017331cc9a6d3"/>
  <add key="Iss" value="http://localhost/SecuredGateAuthenticacionServer/"/>
  <add key="Sec" value="JjvV9zrwRTfKZWeVjQ7O-BbnJTcpuomA2Iky0BuMZis"/>-->
  <!-- Mis parámetros -->
</appSettings>